<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Allowed</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/styles/404.css') }}">
</head>
<body>
    <div class="container">
        <h1>404 - Not Allowed</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <a href="/profile">Return to Profile page</a>
    </div>
</body>
</html>
