<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/styles/profile.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<ul>
    <h2>User Profile</h2>
    <p>Welcome to your profile page!</p>
    <p>Token: {{ token }}</p>
    <p>Role: {{ role }}</p>

    {% if role == 'admin' %}
    <h3>Admin Options</h3>
    <ul>
        <li><a href="#">View all employees</a></li>
        <li><a href="#">Add employee</a></li>
    </ul>
    {% endif %}

    {% if role == 'employee' %}
    <h3>Employee Options</h3>
    <ul>
        <li><a href="#">View all users</a></li>
        <li><a href="#">Search for an employee</a></li>
    </ul>
    {% endif %}

    {% if role == 'manager' %}
    <h3>Manager Options</h3>
    <ul>
    <li><a href="#">View all users</a></li>
    <li><a href="#">Add employee</a></li>
    </ul>    
    {% endif %}
</body>
</html>
