<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/styles/profile.css') }}">
    <script src="{{ url_for('static', filename='js/employee.js') }}"></script>
</head>
<ul>
    <h2>User Profile</h2>
    <p>Welcome to your profile page!</p>
    <p>Role: {{ role }}</p>

    {% if role == 'admin' %}
    <h3>Admin Options</h3>
    <ul>
        <li><button onclick="fetchEmployeeData()">View all employees</button></li>
        <li><a href="/add">Add an employee</a></li>
        <li><a href="/admin">Update or remove an employee</a></li>
    </ul>
    <table id="employeeTable" style="display:none;">
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Role</th>
          <th>Created At</th>
        </tr>
      </table>
    {% endif %}

    {% if role == 'employee' %}
    <h3>Employee Options</h3>
    <ul>
        <li><button onclick="fetchEmployeeData()">View all employees</button></li><br><br>
        <li><label for="employeeId">Enter Employee ID:</label>
            <input type="text" id="employeeId">
            <button onclick="searchEmployee()">Search</button></li>
    </ul>

    <table id="employeeTable" style="display:none;">
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Role</th>
          <th>Created At</th>
        </tr>
      </table>
  
      <div id="employeeInfo">
          <!-- Employee information will be displayed here -->
      </div>
    {% endif %}
    
    {% if role == 'manager' %}
    <h3>Manager Options</h3>
    <ul>
        <ul>
            <li><button onclick="fetchEmployeeData()">View all employees</button></li><br><br>
            <li><label for="employeeId">Enter Employee ID:</label>
                <input type="text" id="employeeId">
                <button onclick="searchEmployee()">Search</button></li><br>
            <li><a href="/add">Add a new employee</a></li>
        </ul>
    
        <table id="employeeTable" style="display:none;">
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Role</th>
              <th>Created At</th>
            </tr>
          </table>
      
          <div id="employeeInfo">
          </div>
          <div id="editButtons" style="display: none;">
            <button onclick="showEditForm()">Edit</button>
        </div>
    
        <div id="editEmployeeForm" style="display: none;">
        </div>
    </ul>    
    {% endif %}

    <button onclick="logout()">Logout</button>

</body>
</html>
